<!DOCTYPE html>
<html lang="en">
<head>
    <title>SOCKET IO </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery-3.1.1.mins.js"></script>
    <script src="socket-io.js"></script>
    
</head>
<body>  
    <div id="login">
        <input type="text" placeholder="Username" id="txt-username">
        <button id="btn-sign">Sign</button>
        <br></br>
        <input type="text" placeholder="Your message" id="txt-msg">
        <button id="btn-send">Send</button>
        <br></br>
        <ul id="ul-list"></ul>
    </div>
</body>
</html>